:root {
  --primary-color: #f5f2fe;
  --secondary-color: #e2917a;
}
body {
  font-family: arial, sans-serif;
}
hr {
  color: rgb(228, 228, 235);
  margin: 30px;
}
#searchCity {
  max-height: 550;
}
#inputCity {
  background-color: var(--primary-color);
}
#btn {
  background-color: #b18f87;
  border-color: rgb(151, 115, 113);
  transition: 5ms;
}
btn:hover {
  background-color: rgb(182, 172, 172);
}
#city {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#secondRow {
  padding: 22px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
#weatherIcon {
  position: relative;
  top: 15px;
  max-width: 60px;
}
#temp {
  font-size: 70px;
  font-weight: 700px;
}
#humidity,
#wind {
  color: var(--secondary-color);
}

#centigrade {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}
#forecast {
  text-align: center;
}
.flex-container {
  background-color: var(--primary-color);
  padding: 105px;
}
.weather-app {
  color: var(--secondary-color);
}
.weather-app-warpper {
  background-color: white;
  display: block;
  margin: 0px auto;
  padding: 55px;
  padding-bottom: 90px;
  max-width: 700px;
  border: 1px solid white;
  border-radius: 19px;
}
.day-time-description {
  margin-bottom: 5px;
  margin-bottom: 0px auto;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 10px;
  position: relative;
  right: -5px;
}
.units {
  position: relative;
  top: 20px;
}

.active #wind,
#humidity {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: default;
}
.active:hover {
  color: rgb(83, 83, 85);
  text-decoration: none;
  cursor: default;
}

.developer {
  color: rgb(112, 112, 116);
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  text-align: center;
}
.weather-forecast-temp-min {
  color: rgb(112, 112, 116);
}
